<h1>Itineraries</h1> <%= link_to "Create an itinerary", new_itinerary_path, :class => 'btn btn-primary' %>
<% unless user_signed_in? %>
  <h3>Get started now! <%= link_to "Create an itinerary", new_itinerary_path %></h3>
<% else %>
  <table class='table table-hover'>
    <thead>
      <td> Itinerary Name </td>
      <td> Creation Date </td>
      <td> Departure Date </td>
    </thead>

    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= link_to itinerary.name, itinerary %></td>
        <td><%= itinerary.created_at.strftime("%b %-d %Y")%></td>
        <td><%= itinerary.flights.first.scheduled_departure_time.strftime("%b %-d %Y") %></td>
      </tr>
    <% end %>
  </table>
<% end %>
