
<% unless user_signed_in? %>
<div class='row'>
  <div class='span7' id='welcome_msg'>
    <h1>Welcome to OSO!</h1>
    <h3>Track your flight status with ease.<br>
      Automatically view alternative flights <br>
      if yours is cancelled or delayed.</h3>
    </div>
    <div class='span5' id='home_sign_up_in'>
      <h2>Track My Flight</h2>
      <h4>Sign up for free and create your itinerary within two minutes.</h4><br>
      <%= link_to "Get started", new_user_registration_path, :class => 'btn btn-large btn-primary' %>
    </div>
  </div>

  <% else %>

  <div id='existing_itineraries'>
    <h1>Itineraries</h1>

    <% if current_user.itineraries.count == 0 %>
    <h3>Nothing here!</h3>
    <% else %>
    <table class='table table-hover'>
      <thead>
        <td> Itinerary Name </td>
        <td> Creation Date </td>
        <td> Departure Date </td>
      </thead>

      <% @itineraries.each do |itinerary| %>
      <tr>
        <td>&#9992; <%= link_to itinerary.name, itinerary %></td>
        <td><%= itinerary.created_at.strftime("%b %-d %Y") %></td>
        <td><%= itinerary.flights.first.scheduled_departure_time.strftime("%b %-d %Y") %></td>
      </tr>
      <% end %>

    </table>
    <% end %>

    <br><%= link_to "Create an itinerary", new_itinerary_path, :class => 'btn btn-primary' %>
  </div>

  <% end %>

