<% title(@itinerary.name, "Itineraries") %>

<section>

        <h1><%= @itinerary.name %></h1>
        <table class='table table-hover' id="itinerary_details">
            <thead><th>Airline Code</th><th>Flight Number</th>
                <th>Scheduled Departure Time</th><th>Departure Airport</th>
                <th>Arrival Airport</th><th>Flight Status</th>
            </thead>
            <tbody>
                <% @itinerary.flights.each do |flight| %>
                <tr>
                    <td><%= flight.airline_code %></td>
                    <td><%= flight.flight_number %></td>
                    <td><%= flight.scheduled_departure_time %></td>
                    <td><%= flight.departure_airport %></td>
                    <td><%= flight.arrival_airport %></td>
                    <td><%= flight.status %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary), :class => 'btn btn-primary' %> <br>
        <%= link_to "Delete Itinerary",
            itinerary_path(@itinerary),
            :class => 'btn btn-mini btn-danger',
            :method => :delete,
            :confirm => "Are you sure you want to delete this itinerary?" %>

        <div class='row'>
            <div class='span12' id='flights'>
          <% @itinerary.flights.each do |flight| %>
          <h3>Alternative Flight Options</h3>
          <p class="alt_flights"><%=raw @alt_flights %></li>
          <% end %>
        </p>
  </div>
</div>


</section>
