<h2 style="margin: 10px 0px 0px 0px;"><%= "Flight Status - #{@flight.airline_code}#{@flight.flight_number}" %></h2>
<h4 style="line-height: 7px; margin: 0px 0px 20px 0px;"><%= link_to "< Return to #{@itinerary.name}", :back %></h4>
<table class='table table-hover' id="itinerary_details">
  <thead>
    <th>Airline Code</th><th>Flight Number</th>
    <th>Scheduled Departure Time</th><th>Departure Airport</th>
    <th>Arrival Airport</th><th>Flight Status</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @flight.airline_code %></td>
      <td><%= @flight.flight_number %></td>
      <td><%= @flight.scheduled_departure_time %></td>
      <td><%= @flight.departure_airport %></td>
      <td><%= @flight.arrival_airport %></td>
      <td><%= @flight.status %></td>
    </tr>
  </tbody>
</table>

<div class="flight_id_<%= @flight.id.to_s %>">
  <%= link_to "Edit flight", edit_itinerary_flight_path(@itinerary, @flight)%> &nbsp; | &nbsp; <%= link_to "Delete flight", itinerary_flight_path(@itinerary, @flight),
  :method => :delete,
  :confirm => "Are you sure you want to delete this flight?" %>
</div>

<div class='row'>
  <div class='span12' id='flights'>
    <h3>Alternative Flight Options</h3>
    <p class="alt_flights">
      <%=raw @alt_flights %>
    </p>
  </div>
</div>
