<h2>New Traveler</h2>

<%= form_for(@traveler) do |f| %>
  <%= f.error_messages %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  &nbsp;
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br />

  <%= f.label :email %>
  <%= f.text_field :email %>

<%= f.submit "Save" %>
<% end %>
