<h2><%= "#{@user.name}" %></h2>

<% if @user.unconfirmed_email %>
  <h3><%= @user.unconfirmed_email %> - Unconfirmed</h3>
<% else %>
  <h3><%= @user.email %></h3>
<% end %>

<h3><%= @user.itineraries.length %> Itineraries</h3>

<%= link_to "Edit Account Details", edit_admin_user_path(@user) %> <br>
<%= link_to "Change Password", edit_user_registration_path(@user) %> <br>
<%= link_to "Delete Account", admin_user_path(@user),
        method: :delete,
        confirm: "Are you sure you want to delete your account?" %>
