<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class='row'>
        <div class='span12'>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "OSO", itineraries_path, id: "logo" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Itineraries", itineraries_path %></li>
            <% end %>
            </ul>
              <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li>
                  <% if current_user.name %>
                    <%= link_to current_user.name.titleize, "#" %>
                  <% else %>
                    <%= link_to current_user.email, "#" %>
                  <% end %>
                </li>
                <li><%= link_to "Account", account_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <li><%= current_user.name %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
