<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class='row'>
        <div class='span12'>
          <nav>
            <%= link_to "OSO", itineraries_path, id: "logo" %>
              <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li id='welcome_user'>
                  Welcome
  				      <% if current_user.name.downcase =~ /[aeiou]/ %>
                  <%= current_user.name.titleize %>
                <% else %>
                  <%= current_user.email %>
                <% end %>
				        </li>
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to "My Account", account_path %></li>
                <li><%= link_to "Itineraries", itineraries_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Home", itineraries_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
