<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      OSO
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<nav>
  <% if user_signed_in? %>
    <div><%= link_to "Account", @user %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
  <% else %>
    Welcome!<br>
    <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</nav>

  <%= render 'layouts/header' %>

  <div class='container main'>

  <%= render 'layouts/messages' %>

<%= yield %>

</div>
</body>
</html>
